body {
    background-color: #e5e3eb;
    font-family: 'Prata', serif;
}

.app {
    background-color: #fff;
    max-width: 600px;
    margin: 45px auto;
    border-radius: 15px;
    box-shadow: 0px 30px 50px rgba(56, 43, 87, 0.250);
}

.weatherEmoji {
    width: 200px;
    display: flex;
    position: relative;
    left: 25px;
    top: 120px;
}

.searchCity {
    display: flex;
    margin: 0px 20px 0px 20px;
    justify-content: flex-end;
    position: relative;
    bottom: 120px;

}

.searchCityBar {
    background-color: #f9f7fe;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.submit {
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
}

.city {
    display: flex;
    justify-content: flex-end;
    font-size: 36px;
    position: relative;
    right: 160px;
    bottom: 100px
}

.temperature {
    display: flex;
    justify-content: flex-end;
    font-size: 64px;
    position: relative;
    bottom: 100px;
    right: 50px;
}

.conditions {
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    position: relative;
    right: 83px;
    bottom: 100px;
}

footer {
    font-size: 12px;
    text-align: center;
    position: relative;
    bottom: 10px;
}

.date {
    display: inline-block;
    justify-content: flex-end;
    font-size: 18px;
    position: relative;
    left: 253px;
    bottom: 100px;
}